body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #5DADE2, #e9eded);
    color: #eee;
  }
  
  header{
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 20px;
  }
  
  header p{
    font-size: 1.2em;
    margin: 5px 0 20px;
    font-style: italic;
  }
  
  header img {
    max-width: 100%;
    height: auto;
    width: 50%;
    border-radius: 10pt;
  }
  
  main {
    max-width: 900px;
    margin: 40px;
    padding: 0 20px;
  }
  
  .tribute{
    background-color: #fff;
    color: 000;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(228, 225, 225, 0.3);
  }
  
  .tribute p{
    font-size: 1.1em;
    text-align: justify;
  }
  
  .achivements {
    background-color: #7fb6c1;
    padding: 20px;
    border-radius: 10px;
  }
  
  .achivements h3 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .achivements ul {
    list-style-type: square;
    padding-left: 20px;
  }
  
  .achivements li {
    margin-bottom: 10px;
  }